
body{
    background-color:#F6F0DF;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#map {
    height: 550px;
    width: 70%;
    display: inline-block;
}

.panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

/*#panel {
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}*/
#control {
    width: 22%;
    padding: 20px;
    float:right;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}


.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    opacity: 0.8;
    border: solid gray 0px;
}

.range-slider {
    width: 200px;
}

#forward {
    float: right;
    padding: 2px;
    opacity: 1;
}

#reverse {
    float: left;
}
#description{
    text-align: left;
    padding: 15px;
    background-color: #5A712D;
}
#buttonOverlay{
  width: 200px;
  position: relative;
  padding: 3px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #5A712D;
  opacity: 0.6;
  border-radius: 5px;
  padding-bottom: 3px;
}
#buttonOverlay:hover {
    background-color: #000000;
}


#attribute-legend{
  width: 200px;
  height: 100px;
  padding:2px;
  position: relative;
  background-color: #ffffff;
  opacity: 0.5;
  border: gray;
}
 

